/* Stylesheet for hopper demos */

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 77, 77);
    overflow: hidden;
}

#render-output {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
